::ng-deep .mat-card .mat-grid-tile .mat-figure {
    justify-content: center
}

.footer{
    border-radius: 4px;
    margin-top: 0px;
    color: #fff;
    position: fixed;
    line-height: 180%;
    padding: 0 10px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    box-shadow: 0px 0px 5px 0px #888888;
}